---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
          const hash = window.location.hash.substring(1);
      
          if (hash) {
              const header = document.getElementById(hash);
              console.log("HAHAasdbgaeerfAH");
              if (header) {
                  console.log("HAHAHasdfasdfAH");
                  let nextElement = header.nextElementSibling;
      
                  while (nextElement) {
                      if (nextElement.nodeType === 1) { 
                          if (nextElement.tagName.toLowerCase() === "details") {
                              console.log("HAHAHAH");
                              nextElement.setAttribute("open", "true");
                              break; 
                          }
                          if (nextElement.tagName.match(/^h[1-6]$/i)) {
                              break;
                          }
                      }
                      nextElement = nextElement.nextSibling;
                  }
              }
          }
      });
      </script>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
